In [20]:
data = "100klh564abc365bg800sdc761asd324kdhsbds873876sdf dsf sdf 23432 dfs8973737237"

lst = []
import re

# lst = data.split('[a-z]')

alphabet = ['k', 'a', 'b', 's']

num = ''

for i in data:
    if i.isdigit() and i not in alphabet:
        num += i
    elif i in alphabet:
        num += ','

result_list = num.split(',')

result_list = [int(i) for i in result_list if i != '']

print(max(result_list))

8973737237

In [26]:
"""
Sum of odd index - Sum of even index
"""
data = 83749237490278286968593729362986312312312312
data = str(data)

odd = 0
even = 0
for i, j in enumerate(data):
    if i%2 == 0:
        even += int(j)
    else:
        odd += int(j)
    
print(odd-even)

31

In [44]:
data = [{"name": "Rahul S", "age": 18},
 {"name": "Rahul Singh", "age": 19},
 {"name": "Ravi S", "age": 18},
{"name": "Prateeek Singh", "age": 14},
 {"name": "Ram Prasad", "age": 23},
 {"name": "Rahul Sampal", "age": "10"},
 {"name": "Rahul Sampal"}
]

result = []
for i in data:
    if 'age' in i.keys() and int(i['age']) >= 18:
        result.append(i['name'])
        
print(result)

['Rahul S', 'Rahul Singh', 'Ravi S', 'Ram Prasad']