In [11]:
from functools import wraps

In [18]:
# def double_decorator(func):
#     def my_func(*args, **kwargs):
# #         func.__doc__ = 
#         res = func(*args, **kwargs)
#         return res*2
#     return my_func

In [21]:
def double_decorator(func):
    @wraps(func) 
    def my_func(*args, **kwargs):
        res = func(*args, **kwargs)
        return res*2
    return my_func


@double_decorator
def calculate_sum(*args, **kwargs):
    """
    Double the response from the function
    """
#     @wraps(func) 
    res = sum(args)
    res += sum(kwargs.values())
    return res

In [24]:
v1 = calculate_sum(1,2,3)
print(calculate_sum.__doc__)

    Double the response from the function

In [23]:
print(v1.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [36]:
SELECT SUM(salary) FROM customers WHERE salary > 50_000 GROUP BY department HAVING department = 'Sales';

SyntaxError: invalid syntax (<ipython-input-36-97f59a85fa3e>, line 1)